<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>ECSHOP 管理中心</title>
<meta name="robots" content="noindex, nofollow">
  <script language="JavaScript">
    <!--
    // 这里把JS用到的所有语言都赋值到这里
    var process_request = "正在处理您的请求...";
    var todolist_caption = "记事本";
    var todolist_autosave = "自动保存";
    var todolist_save = "保存";
    var todolist_clear = "清除";
    var todolist_confirm_save = "是否将更改保存到记事本？";
    var todolist_confirm_clear = "是否清空内容？";
    var expand_all = "展开";
    var collapse_all = "闭合";
    var shop_name_not_null = "商店名称不能为空";
    var good_name_not_null = "商品名称不能为空";
    var good_category_not_null = "商品分类不能为空";
    var good_number_not_number = "商品数量不是数值";
    var good_price_not_number = "商品价格不是数值";
    //-->
  </script>
<link rel="stylesheet" type="text/css" href="./public/admin/css/index.css" media="all">
  <script type="text/javascript" src="./public/admin/js/commom.js"></script>
  <script type="text/javascript" src="./public/admin/js/transport.js"></script>
</head>
<body style="cursor: auto;">

<h1>
<span class="action-span1"><a href="http://localhost/ecload/admin/index.php?act=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"></span>
<div style="clear: both;"></div>
</h1>
<!-- directory install start -->
<ul id="cloud_list" style="padding: 0px; margin: 0px; list-style-type: none; color: rgb(204, 0, 0);"><li class="cloud_close">no_license<a href="http://bbs.ecshop.com/thread-197647-1-1.html" target="_top">点击查看</a><a><img onclick="cloud_close(1)" src="./public/admin/images/no.gif"></a></li></ul>
 
<ul id="lilist" style="padding: 0px; margin: 0px; list-style-type: none; color: rgb(204, 0, 0);">
    <li class="Start315">您还没有删除 install 文件夹，出于安全的考虑，我们建议您删除 install 文件夹。</li>
    <li class="Start315">您还没有删除 demo 文件夹，出于安全的考虑，我们建议您删除 demo 文件夹。</li>
  </ul>
<ul style="padding: 0px; margin: 0px; list-style-type: none; color: rgb(204, 0, 0);">
 <!-- <script type="text/javascript" src="http://bbs.ecshop.com/notice.php?v=1&n=8&f=ul"></script>-->
</ul>
<!-- directory install end -->
<!-- start personal message -->
<!-- end personal message -->
<!-- start order statistics -->
<div class="list-div">
<table cellpadding="3" cellspacing="1">
  <tbody><tr>
    <th colspan="4" class="group-title">订单统计信息</th>
  </tr>
  <tr>
    <td width="20%"><a href="http://localhost/ecload/admin/order.php?act=list&amp;composite_status=101">待发货订单:</a></td>
    <td width="30%"><strong style="color: red;">4</strong></td>
    <td width="20%"><a href="http://localhost/ecload/admin/order.php?act=list&amp;composite_status=0">未确认订单:</a></td>
    <td width="30%"><strong>2</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/order.php?act=list&amp;composite_status=100">待支付订单:</a></td>
    <td><strong>3</strong></td>
    <td><a href="http://localhost/ecload/admin/order.php?act=list&amp;composite_status=102">已成交订单数:</a></td>
    <td><strong>3</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/goods_booking.php?act=list_all">新缺货登记:</a></td>
    <td><strong>2</strong></td>
    <td><a href="http://localhost/ecload/admin/user_account.php?act=list&amp;process_type=1&amp;is_paid=0">退款申请:</a></td>
    <td><strong>0</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/order.php?act=list&amp;composite_status=6">部分发货订单:</a></td>
    <td><strong>1</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</tbody></table>
</div>
<!-- end order statistics -->
<br>
<!-- start goods statistics -->
<div class="list-div">
<table cellpadding="3" cellspacing="1">
  <tbody><tr>
    <th colspan="4" class="group-title">实体商品统计信息</th>
  </tr>
  <tr>
    <td width="20%">商品总数:</td>
    <td width="30%"><strong>20</strong></td>
    <td width="20%"><a href="http://localhost/ecload/admin/goods.php?act=list&amp;stock_warning=1">库存警告商品数:</a></td>
    <td width="30%"><strong style="color: red;">7</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_new">新品推荐数:</a></td>
    <td><strong>11</strong></td>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_best">精品推荐数:</a></td>
    <td><strong>10</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_hot">热销商品数:</a></td>
    <td><strong>11</strong></td>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_promote">促销商品数:</a></td>
    <td><strong>0</strong></td>
  </tr>
</tbody></table>
</div>
<br>
<!-- Virtual Card -->
<div class="list-div">
<table cellpadding="3" cellspacing="1">
  <tbody><tr>
    <th colspan="4" class="group-title">虚拟卡商品统计</th>
  </tr>
  <tr>
    <td width="20%">商品总数:</td>
    <td width="30%"><strong>6</strong></td>
    <td width="20%"><a href="http://localhost/ecload/admin/goods.php?act=list&amp;stock_warning=1&amp;extension_code=virtual_card">库存警告商品数:</a></td>
    <td width="30%"><strong style="color: red;">2</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_new&amp;extension_code=virtual_card">新品推荐数:</a></td>
    <td><strong>1</strong></td>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_best&amp;extension_code=virtual_card">精品推荐数:</a></td>
    <td><strong>4</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_hot&amp;extension_code=virtual_card">热销商品数:</a></td>
    <td><strong>6</strong></td>
    <td><a href="http://localhost/ecload/admin/goods.php?act=list&amp;intro_type=is_promote&amp;extension_code=virtual_card">促销商品数:</a></td>
    <td><strong>0</strong></td>
  </tr>
</tbody></table>
</div>
<!-- end order statistics -->
<br>
<!-- start access statistics -->
<div class="list-div">
<table cellpadding="3" cellspacing="1">
  <tbody><tr>
    <th colspan="4" class="group-title">访问统计</th>
  </tr>
  <tr>
    <td width="20%">今日访问:</td>
    <td width="30%"><strong>1</strong></td>
    <td width="20%">在线人数:</td>
    <td width="30%"><strong>3</strong></td>
  </tr>
  <tr>
    <td><a href="http://localhost/ecload/admin/user_msg.php?act=list_all">最新留言:</a></td>
    <td><strong>1</strong></td>
    <td><a href="http://localhost/ecload/admin/comment_manage.php?act=list">未审核评论:</a></td>
    <td><strong>1</strong></td>
  </tr>
</tbody></table>
</div>
<!-- end access statistics -->
<br>
<!-- start system information -->
<div class="list-div">
<table cellpadding="3" cellspacing="1">
  <tbody><tr>
    <th colspan="4" class="group-title">系统信息</th>
  </tr>
  <tr>
    <td width="20%">服务器操作系统:</td>
    <td width="30%">WINNT (::1)</td>
    <td width="20%">Web 服务器:</td>
    <td width="30%">Apache/2.2.21 (Win32) PHP/5.3.10</td>
  </tr>
  <tr>
    <td>PHP 版本:</td>
    <td>5.3.10</td>
    <td>MySQL 版本:</td>
    <td>5.5.20-log</td>
  </tr>
  <tr>
    <td>安全模式:</td>
    <td>否</td>
    <td>安全模式GID:</td>
    <td>否</td>
  </tr>
  <tr>
    <td>Socket 支持:</td>
    <td>是</td>
    <td>时区设置:</td>
    <td>UTC</td>
  </tr>
  <tr>
    <td>GD 版本:</td>
    <td>GD2 ( JPEG GIF PNG)</td>
    <td>Zlib 支持:</td>
    <td>是</td>
  </tr>
  <tr>
    <td>IP 库版本:</td>
    <td>20071024</td>
    <td>文件上传的最大大小:</td>
    <td>2M</td>
  </tr>
  <tr>
    <td>ECShop 版本:</td>
    <td>v2.7.3 RELEASE 20121106</td>
    <td>安装日期:</td>
    <td>2016-01-22</td>
  </tr>
  <tr>
    <td>编码:</td>
    <td>UTF-8</td>
    <td></td>
    <td></td>
  </tr>
</tbody></table>
</div>



<div id="footer">
共执行 29 个查询，用时 0.115229 秒，Gzip 已禁用，内存占用 4.430 MB<br>
版权所有 © 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
<!-- 新订单提示信息 -->
<div id="popMsg">
  <table bgcolor="#cfdef4" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
    <td style="color: rgb(15, 44, 140);" height="24" width="30"></td>
    <td style="font-weight: normal; color: rgb(31, 51, 107); padding-top: 4px; padding-left: 4px;" valign="center" width="100%"> 新订单通知</td>
    <td style="padding-top: 2px; padding-right: 2px;" align="right" valign="center" width="19"><span title="关闭" style="cursor: pointer; color: red; font-size: 12px; font-weight: bold; margin-right: 4px;" onclick="Message.close()">×</span><!-- <img title=关闭 style="cursor: hand" onclick=closediv() hspace=3 src="msgclose.jpg"> --></td>
  </tr>
  <tr>
    <td style="padding-right: 1px; padding-bottom: 1px;" colspan="3" height="70">
    <div id="popMsgContent">
      <p>您有 <strong style="color: rgb(255, 0, 0);" id="spanNewOrder">1</strong> 个新订单以及       <strong style="color: rgb(255, 0, 0);" id="spanNewPaid">0</strong> 个新付款的订单</p>
      <p style="word-break: break-all;" align="center"><a href="http://localhost/ecload/admin/order.php?act=list"><span style="color: rgb(255, 0, 0);">点击查看新订单</span></a></p>
    </div>
    </td>
  </tr>
  </tbody></table>
</div>

<!--
<embed src="images/online.wav" width="0" height="0" autostart="false" name="msgBeep" id="msgBeep" enablejavascript="true"/>
-->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://active.macromedia.com/flash2/cabs/swflash.cab#version=4,0,0,0" id="msgBeep" height="1" width="1">
  <param name="movie" value="images/online.swf">
  <param name="quality" value="high">
  <embed src="./public/admin/images/online.swf" name="msgBeep" id="msgBeep" quality="high" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?p1_prod_version=shockwaveflash" height="0" width="0">
  
</object>



</body>
</html>
